/* 992 Media */
@media  screen and (max-width: 992px){
  /* Banner */
  .banner{
    flex-direction: column-reverse;
  }
  .banner_content{
    align-items: center;
    text-align: center;
  }
  .banner_heading{
    font-size: 40px;
  }
  /* Stories */
  .stories_card_left{
    display: none;
  }
  .stories_card_right{
    width: 100%;
  }
  .stories_hide{
    display: block;
  }
}
/* 819 Media */
@media  screen and (max-width: 819px){
  /* NavBar */
  .navbar{
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--bg-color);
    z-index: 1;
  }
  .nav_content{
    position: fixed;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    top: -100%;
    left: 0;
    background-color: var(--bg-color);
    padding: 20px;
  }
  .nav_link{
    flex-direction: column;
    gap: 20px;
  }
  .open_menu{
    display: block;
  }
  #check:checked ~ .menu_label .open_menu{
    display: none;
  }
  #check:checked ~ .menu_label .close_menu{
    display: block;
  }
  #check:checked ~ .nav_content{
    top: 85px;
    border-bottom: 1px solid var(--border-color);
  }
  /* Banner */
  .banner{
    margin-top: 80px;
  }
  /* Footer */
  .footer_content{
    flex-direction: column;
    gap: 40px;
  }
}
/* 768 Media */
@media  screen and (max-width: 768px){
  /* Learing Journey */
  .learning_card{
    grid-template-columns: auto auto;
  }
  .learing_next_before_btn{
    display: none;
  }
  .learning_heading{
    font-size: 25px;
  }
  /* Stories */
  .stories_heading{
    font-size: 25px;
  }
}
/* 576 Media */
@media  screen and (max-width: 576px){
  /* Banner */
  .banner_heading{
    font-size: 30px;
  }
  .banner_dis{
    font-size: 18px;
  }
  .banner_image img{
    width: 100%;
  }
  /* Learing Journey */
  .learning{
    margin-top: 35px;
  }
  .learning_card{
    grid-template-columns: auto;
  }
  /* Stories */
  .stories_btn{
    font-size: 14px;
  }
}
/* 430 Media */
@media  screen and (max-width: 430px){
  /* Stories */
  .stories_card_right{
    grid-template-columns: auto;
  }
}
/* 400 Media */
@media  screen and (max-width: 400px){
  /* Learning Journey */
  .learing_image{
    width: 35%;
  }
}