/* 819 Media */
@media  screen and (max-width: 819px){
  /* NavBar */
  .navbar{
    border-bottom: 1px solid var(--border-color);
  }
  .nav_content{
    position: fixed;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    top: -100%;
    left: 0;
    background-color: var(--bg-color);
    padding: 20px;
  }
  .nav_link{
    flex-direction: column;
    gap: 20px;
  }
  .open_menu{
    display: block;
  }
  #check:checked ~ .menu_label .open_menu{
    display: none;
  }
  #check:checked ~ .menu_label .close_menu{
    display: block;
  }
  #check:checked ~ .nav_content{
    top: 85px;
    border-bottom: 1px solid var(--border-color);
  }
}