/* Design By - abdullahalsifat.com */
/* Google Fonts */
@font-face {
  font-family: 'quicksand';
  src: url(../assets/fonts/Quicksand-Regular.ttf);
}
/* Default Setting */
*{
  font-family: 'quicksand';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--bg-color);
}
::selection{
  background-color: var(--btn-1);
  color: var(--bg-color);
}
p{
  font-size: 18px;
  color: var(--text-color);
}
a{
  text-decoration: none;
  color: var(--heading-color);
}
button{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}
.link-1{
  color: var(--btn-1);
}
.link-2{
  color: var(--btn-2);
}
.link-3{
  color: var(--btn-3);
}
.link-4{
  color: var(--footer-color);
}
:root{
  --bg-color: #F7F7F7;
  --footer-color: #01ACFD;
  --heading-color: #111111;
  --text-color: #808080;
  --btn-1: #FEA301;
  --btn-2: #95B226;
  --btn-3: #5D58F0;
  --border-color: #dbd6d6;
  --linear-1: #EEE1FF;
  --linear-2: #f5e8cc;
  --linear-3: #DEF5FF;
}
.body-screen{
  max-width: 1300px;
  margin: auto;
}
/* ==(Header)== */
/* Navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo{
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo_image{
  width: 22%;
}
.site_title{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.nav_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 62%;
  gap: 30px;
}
.nav_link{
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}
.nav_button{
  background-color: var(--btn-1);
  color: var(--bg-color);
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 8px;
  transition: 0.4s ease-in-out;
}
.nav_button:hover{
  background-color: var(--heading-color);
}
.manu_input{
  display: none;
}
.open_menu, .close_menu{
  display: none;
}
/* Banner */
.banner{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.banner_content{
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}
.banner_heading{
  font-size: 50px;
  font-weight: bold;
  max-width: 600px;
}
.banner_dis{
  color: var(--heading-color);
  font-size: 20px;
}
.banner_button{
  background-color: var(--heading-color);
  color: var(--bg-color);
  padding: 12px 40px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.banner_button:hover{
  background-color: var(--btn-1);
}
/* ==(Main)== */
#main{
  background-image: url(../assets/image/bg.png), linear-gradient(to top, var(--linear-2) 0%, var(--bg-color) 100%);
}
/* Learning Journey */
.learning{
  padding: 0 20px;
  margin-top: 20px;
}
.learning_heading{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}
.learning_card{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-bottom: 20px;
}
.learning_card_content{
  background-color: var(--bg-color);
  padding: 40px;
  border-radius: 16px;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 15px;
}
.learning_card-1{
  border: 1px solid var(--linear-3);
  background-image: linear-gradient(var(--linear-3) 0%, var(--bg-color) 40%);
}
.learning_card-2{
  border: 1px solid #f5e8cc;
  background-image: linear-gradient(var(--linear-2) 0%, var(--bg-color) 40%);
}
.learning_card-3{
  background-image: linear-gradient(var(--linear-1) 0%, var(--bg-color) 40%);
  border: 1px solid var(--linear-1);
}
.learing_image{
  width: 30%;
}
.learning_card_heading{
  margin-top: 10px;
  text-align: center;
}
.learning_car_dis{
  text-align: center;
}
.learing_next_before_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}
/* marquee */
.marquee{
  padding: 0 20px;
}
.marquee_text{
  max-width: 1200px;
  margin: 40px auto 0;
  text-align: center;
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 8px;
}
/* Stories */
.stories{
  padding: 0 20px 50px;
  margin-top: 40px;
}
.stories_heading{
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
}
.stories_card{
  display: flex;
  gap: 20px;
}
.stories_card_left{
  background-color: var(--bg-color);
  border-radius: 16px;
}
.stories_card_left > img{
  width: 100%;
}
.stories_card_left_content{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.stories_card_right{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.stories_card_right_content{
  background-color: var(--bg-color);
  border-radius: 16px;
  overflow: hidden;
}
.stories_card_right_content > img{
  width: 100%;
}
.stories_card_right_content_dis{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.stories_btn{
  background-color: var(--btn-2);
  padding: 8px 15px;
  border-radius: 25px;
  color: var(--bg-color);
  position: absolute;
  top: -25px;
  font-size: 16px;
}
.stories_btn-1{
  background-color: var(--footer-color);
}
.stories_btn-2{
  background-color: var(--btn-3);
}
.stories_hide{
  display: none;
}
/* ==(Footer)== */
#footer{
  background-color: var(--footer-color);
  padding: 50px 0;
}
.footer_content{
  padding: 0 20px;
  color: var(--bg-color);
  display: flex;
  justify-content: space-between;
}
.footer_dis_content{
  display: flex;
  align-items: center;
}
.footer_dis_heading{
  font-size: 24px;
}
.footer_dis_p{
  max-width: 400px;
  color: var(--bg-color);
  margin-top: 20px;
}
.footer_heading{
  font-size: 20px;
}
.footer_nav{
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_nav a{
  color: var(--bg-color);
}
.footer_icon_list{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.footer_icon_svg{
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.footer_icon_svg:hover{
  transform: scale(1.1);
}