/* Design By - abdullahalsifat.com */
/* Google Fonts */
@font-face {
  font-family: 'quicksand';
  src: url(../assets/fonts/Quicksand-Regular.ttf);
}
/* Default Setting */
*{
  font-family: 'quicksand';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--bg-color);
}
::selection{
  background-color: var(--btn-1);
  color: var(--bg-color);
}
p{
  font-size: 18px;
  color: var(--text-color);
}
a{
  text-decoration: none;
  color: var(--heading-color);
}
button{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}
.link-1{
  color: var(--btn-1);
}
.link-2{
  color: var(--btn-2);
}
.link-3{
  color: var(--btn-3);
}
.link-4{
  color: var(--footer-color)
}
:root{
  --bg-color: #F7F7F7;
  --footer-color: #01ACFD;
  --heading-color: #111111;
  --text-color: #808080;
  --btn-1: #FEA301;
  --btn-2: #95B226;
  --btn-3: #5D58F0;
  --border-color: #dbd6d6;
}
.body-screen{
  max-width: 1300px;
  margin: auto;
}
/* ==(Header)== */
/* Navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo{
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo_image{
  width: 22%;
}
.site_title{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.nav_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 62%;
  gap: 30px;
}
.nav_link{
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}
.nav_button{
  background-color: var(--btn-1);
  color: var(--bg-color);
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 8px;
}
.manu_input{
  display: none;
}
.open_menu, .close_menu{
  display: none;
}
/* Banner */
.banner{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.banner_content{
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}
.banner_heading{
  font-size: 50px;
  font-weight: bold;
  max-width: 600px;
}
.banner_dis{
  color: var(--heading-color);
  font-size: 20px;
}
.banner_button{
  background-color: var(--heading-color);
  color: var(--bg-color);
  padding: 12px 40px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
}